{% extends "base.html"%}
{% block content %}
<center>
    <form id="team-add-form" class="team-add-form pr" method="POST" action="/addUser">
            <textarea name="content" class="team-add-text" rows="23"></textarea>
            <br />
            <button class="btn btn-primary" type="submit"> 提交 </button>
    </form>
</center>
<script language="javascript">
    function Adjust()
    {
        if(document.getElementById("team-add-form"))
        {
            var h=window.innerHeight;
            document.getElementById("team-add-form").style.height=parseInt(h)+"px";
        }
        if(document.getElementById("print-content-text"))
        {
            var h=window.innerHeight;
            document.getElementById("print-content-text").style.height=parseInt(h*0.55)+"px";
        }
    }
</script>
{% endblock %}