<!DOCTYPE html>
<html>
    <head>
        <meta charset = “utf-8” />
        <meta http-equic = “Content-type” content = “text/html; charset = utf-8” />
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <script src="../static/js/jquery-2.0.3.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    {% if g.user.is_authenticated() %}
                        <li> <a href ="#" type = 'button'> Logout </a> </li>
                    {% else %}
                       <li> <a href = "#" > Login </a> </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class = "container">
        <center>
            <h1>欢迎使用打印系统</h1>
            <hr/>
            {% block content%}
            {% endblock %}
        </center>
        </div>
    </body>
</html>