{% extends "base.html" %}
{% block content %}
		    <div class="form-group">
				<form class="print-content-form" action='/' method="POST">
					<ul style="padding:0px;">
						<li>打印内容:</li>
						<li><textarea id="print-content-text" name="content" class="print-content-text" rows="23"></textarea></li>
						<li><button class="btn btn-primary" type="submit"> 打印 </button></li>
					</ul>
				</form>
			</div>
            <script language="javascript">
                function Adjust()
                {
                    if(document.getElementById("team-add-form"))
                    {
                        var h=window.innerHeight;
                        document.getElementById("team-add-form").style.height=parseInt(h)+"px";
                    }
                    if(document.getElementById("print-content-text"))
                    {
                        var h=window.innerHeight;
                        document.getElementById("print-content-text").style.height=parseInt(h*0.55)+"px";
                    }
                }
            </script>
{% endblock %}