{% extends "base.html" %}
{% block content %}
    <center>
        <div class="row" style="center">
            <form action='/login' method="POST" style="color:#280D0D">
                <label class="label" style="color:#280D0D">User Name:</label>
                <input type="text" name="name"></input>
                <br/>
                <label class="label" style="color:#280D0D">Password:</label>
                <input type="password" name="password"></input>
                <br/>
                <button class="btn btn-primary" type="submit"> 登录 </button>
            </form>
        </div>
    </center>
{% endblock %}