{% extends "base.html" %}
{% block content %}
    <a href={{ url_for('home') }}>Admin Page</a>
    <a name="top" ></a>
    <div class="list-style">
        <table class="table" style="margin:auto;">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>队伍号</th>
                    <th>座位号</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for team in team_list %}
                    <td>{{ team.tid }}</td>
                    <td>{{ team.number }}</td>
                    <td>{{ team.location }}</td>
                    <td><a href="{{ url_for('delete_team', tid = team.tid) }}">Delete</a></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <a href="#top">Back to Top</a>
{% endblock %}