{% extends "base.html" %}
{% block content %}
    <a name="top" ></a>
    <div class="list-style">
        <table class="table" style="margin:auto;">
            <thead>
                <tr>
                    <th> 编号 </th>
                    <th> 队伍号 </th>
                    <th> 座位信息 </th>
                    <th> 权限 </th>
                    <th> 删除 </th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                    <tr>
                    <td> {{ user.id_ }} </td>
                    <td> {{ user.name }} </td>
                    <td> {{ user.location }} </td>
                    {% if user.is_admin %}
                        <td class="red"> 管理员 </td>
                    {% else %}
                        <td> 普通用户 </td>
                    {% endif %}
                    <td><a href="{{ url_for('delete_user', uid = user.id_) }}"> 删除 </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="#top"> 返回顶部 </a>
{% endblock %}